*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
/* CSS NAV BAR */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}

.logo {
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.site-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul:hover li:not(:hover) a {
  opacity: 0.2;
}
ul li {
  position: relative;
  padding: 30px 25px 30px 25px;
  cursor: pointer;
}
ul li::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
ul li:hover::after, ul li.active::after {
  transform: scaleX(1);
}
ul li a {
  position: relative;
  display: flex;
  color: white;
  font-family: Lato, sans-serif;
  text-decoration: none;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* FIN CSS NAV BAR */

/* CSS BODY */

body {
  margin: 0;
  font-family: sans-serif;
}
#intro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
} 
/* si on veut de l'ombre autour de l'image d'intro du site */
#resume{
  /* -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15); */
}

/* BOUTON BACK TO TOP */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: solid black 1px; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(255, 255, 255); /* Set a background color */
  color: rgb(0, 0, 0); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 50px;
  padding: 5px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(0, 0, 0); /* Add a dark-grey background on hover */
  color: rgb(255, 255, 255);
}
/* FIN BOUTON BACK TO TOP */
.bumper {
  height: 20vh;
  padding: 60px 150px;
  background-color: #efefef;
}


.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0vh;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
}

.cards {
  position: relative;
  height: 100%;
  padding: 0 0 0 250px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sample-card {
  position: relative;
  height: 80vh;
  width: 65vw;
  background-color: #e6e7e9;
  margin-right: 250px;
  flex-shrink: 0;
}
/*CONTENUS DES CARDS*/

.wrapper {
  /* height: 80vh; */
  /* width: 65vw; */
  /* margin: 20px; */
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-img img{
  width: 100%;
  height: auto;
}

#video_desktop{
  max-width: 100%;
  width: 1200px;
  height: 585px;
  max-height: auto;
}
#video_mobile{
  /* max-width: 100%;
  width: 1200px; */
  height: 585px;
  max-height: auto;
  background-color: black;
}

.product-info {
  width: 100%;
  background-color: #ffffff;
  border-top: solid 1px rgb(221, 221, 221);
  display: flex;
  justify-content: center;
}

.product-text {
  /* height: 150px; */
  width: 80%;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 20px;
  color: #4d4c4c;
}

.product-text h2 {
  margin: 0 0 10px 38px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #5f5f5f;
  letter-spacing: 0.2em;
}

.product-text p {
  flex-direction: row;
  height: auto;
  margin: 0 0 0 38px;
  padding-bottom: 1.5rem;
  color: #363636;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  /* overflow: hidden; */
}

/* FIN CSS BODY */